<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Gin Framework Boilerplate</title>
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">
	</head>
	<body>
		<div id="app" class="container">
				{{ template "content" . }}
		</div>
    <script type="text/javascript" src="/public/js/lib/three.min.js"></script>
    <script type="text/javascript" src="/public/js/lib/ar.min.js"></script>
    <script type="text/javascript" src="/public/js/lib/tracking-min.js"></script>
    <script type="text/javascript" src="/public/js/lib/face-min.js"></script>
    <script type="text/javascript" src="/public/js/script.js"></script>
	</body>
</html>
